h2{
    
    margin: 48px 0;
    color: crimson;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 28px;
}

body{
    /* background-color: aquamarine; */
}

table,tr,td{
    border: 1px solid red;
}